---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostTable from "../components/PostTable.svelte";

const baseUrl = Astro.site.origin;
const url = `${baseUrl}/apis/todos`;

const response = await fetch(`${url}`);
const data = await response.json();

const posts = data.posts;
---
<BaseLayout title="Hello Astro">
	<h1 class="text-3xl mx-auto">List of Posts</h1>
	<PostTable posts={posts} />
</BaseLayout>