---
const { title } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title || "No Title"}</title>
	</head>
	<body>
		<div class="p-4 min-w-full min-h-screen bg-gray-200">
      <slot />
    </div>
	</body>
</html>